.login {
  height: 100vh;
  background-color: rgb(193, 191, 255);
  justify-content: center;
  align-items: center;
  display: flex;
  .card {
    min-height: 70vh;
    width: 50%;
    display: flex;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;

    .left {
      flex: 1;
      background: linear-gradient(rgba(39, 11, 96, 0.5), rgba(39, 11, 96, 0.5)),
        url("https://images.pexels.com/photos/3228727/pexels-photo-3228727.jpeg?auto=compress&cs=tinysrgb&w=1600")
          center;
      background-size: cover;
      padding: 50px;
      display: flex;
      gap: 2rem;
      flex-direction: column;
      text-align: justify;
      color: white;
      h1 {
        font-size: 10vh;
         
          line-height: 10vh;
      }
      p {
        
      }
      span {
        font-size: 14px;
       
      }
      button {
        width: 50%;
        padding: 10px;
        border: none;
        background-color: white;
        color: rebeccapurple;
        font-weight: bold;
        cursor: pointer;
      }
    }
    .right {
      flex: 1;
      padding: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      form {
        display: flex;
        flex-direction: column;
        gap: 30px;

        input {
          border: none;
          border-bottom: 1px solid lightgray;
        }
        button {
          width: 50%;
          color: white;
          border: none;
          padding: 10px;
          font-weight: bold;
          background-color: #938eef;
          cursor: pointer;
        }
      }
    }
  }
}
